<p>Your Potato is now encrypted.</p>
<p>Send this information to the recipient:</p>
<hr>
<div class="jumbotron" id="msg">
    <p>This link has a Hot Potato for you</p>
    <p><%= @base_url %>/get?potato=<%= @encrypted %><p>
    <p>To read it you need to submit this password</p>
    <p><%= @secret %></p>
    <p><b>Note:</b> It works only once. When read, it's deleted.</p>
</div>
