<form action="addPotato" method="post">
    <textarea class="form-control" rows="10" name="potato" placeholder="paste your hot potato"></textarea>
    <button type="submit" class="btn btn-primary">Send the potato</button>
</form>
