<form action="addPotato" method="post" accept-charset="UTF-8" id="hotpotato">
    <textarea class="form-control" rows="10" name="potato" placeholder="paste your hot potato"></textarea>
    <label for="secret">Secret password:</label>
    <input type="text" name="secret" value="<%= @my_secret %>">
    <label for="ttl">TTL:</label>
    <select name="ttl" id="ttl">
    <% @ttl.each do |key,value| %>
      <option value="<%=value%>"><%=key%></option>
    <% end %>
    </select>
    <button type="submit" class="btn btn-primary">Send the potato</button>
</form>
