<form action="/add" method="post" accept-charset="UTF-8" id="hotpotato">
  <div class="container">
    <div class="row">
      <label for="potato">Paste your hot potato</label>
      <textarea class="form-control input-sm" rows="10" name="potato" id="potato" placeholder="Paste your hot potato here"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <label for="secret">Password:</label>
    </div>
    <div class="col-6">
      <input class="form-control input-sm" type="text" name="secret" value="<%= @my_secret %>" id="secret" autocomplete="off">
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <label for="ttl">Time To Live:</label>
    </div>
    <div class="col-6">
      <select class="form-control input-sm" name="ttl" id="ttl">
      <% @ttl.each do |key,value| %>
        <option class="form-control input-sm" id="<%= value %>" value="<%= value %>"><%= key %></option>
      <% end %>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
        <button type="submit" class="btn btn-primary btn-block">Send the potato</button>
    </div>
  </div>
</form>
