<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class=container>
        <h1> <%= @title %> </h1>
        <hr>
        <%= yield %>
        <hr>
        <footer>
            <p>Author: mccc.se</p>
            <p><a href="/">home</a></p>
            <p><a href="/get">get</a></p>
        </footer>
    </body>
</html>
