<p>Thanks for posting</p>
<p>Your post was</p>
<pre><%= Base64.decode64(@potato) %></pre>
<p>TTL was</p>
<p><%= @ttl %><p>
<p>Your encryptedPotato was</p>
<p><%= @cipher %><p>
<pre><%= @my_potato %></pre>
<a href="/">Let's do it again!</a>
